
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    background-color:#8E8D8A;
}
.wrapper > * {
    flex: 1 100%;
}
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}
  @media all and (min-width: 800px) {
    .main    { flex: 10 0px; }
    .leftBar { order: 1; } 
    .main    { order: 2; }
    .footer  { order: 3; }
}
.global-nav {
    display: flex;
    justify-content: center;
    background-color: #EAE7DC;
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: 50%;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.leftBar{
    background: linear-gradient(#EAE7DC, 95%, #8E8D8A);
    text-align: left;
    height: 800px;
    padding: 5px;
    border-right: 1px solid #8E8D8A;
    border-top: 2px solid #8E8D8A;
    animation: textSlideLeft 2s ease-in-out;
}
.main{
    background: linear-gradient(#EAE7DC, 95%, #8E8D8A);
    text-align: left;
    padding: 10px;
}
.article1{
    /* background-color: black;
    color: #fff; */
}
.article2{
    /* background-color: white; */
}

.footer{
    background-color: #8E8D8A;
    padding: 10px;
}

@keyframes textSlideLeft {
    from{
        transform: translate(-250px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}