body{
    background-color:#EAE7DC ;
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.wrapper > * {
    flex: 1 100%;
}
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}
  @media all and (min-width: 800px) {
    .main    { flex: 10 0px; }
    .leftBar { order: 1; } 
    .main    { order: 2; }
    .footer  { order: 3; }
}
.global-nav {
    display: flex;
    justify-content: center;
    height: 56px;
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: 50%;
    animation: appear 2s;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    font-size: larger;
}
a:active{
    color: black;
}
.leftBar{
   
    text-align: left;
    height: 800px;
    padding: 5px;
    animation: textSlideLeft 2s ease-in-out;
}
.main{
  
    text-align: left;
    padding: 10px;
}

p{
    color: #E85A4F;
}

.footer{

    padding: 10px;
}

@keyframes textSlideLeft {
    from{
        transform: translate(-250px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
